:root {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



.header-container {
  display: flex;
  justify-content: flex-start;
}

.header-container h1 {
  font-size: 2.5rem;
  padding-right: .1rem;
  padding-left: .1rem;
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.left-con {
  word-break: break-word;
  overflow-wrap: break-word;
  height: 100dvh;

}

form {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

form input {
  width: 38%;
  border-radius: 6px;
  box-shadow: 0px 0px 8px black;
}

form button {
  background-color: black;
  border-radius: 6px;
  color: white;
  padding: .5rem;
  box-shadow: 0px 4px 8px black;
  margin-left: 4px;
  transform: translateY(-3px);
  transition: all .4s ease-in-out;
}

form button:active {
  transform: translateY(0);
  transition: all .4s ease-in-out;
}

.listOfIngredient-con {
  transform: translateY(0) scale(1);
  transition: all .4s ease-in-out;
}

.listOfIngredient-con::before {
  transform: translateY(-100%) scale(0);
  transition: all .4s ease-in-out;
}

.listOfIngredient-con h2 {
  text-align: center;
  border: 2px solid black;
  padding: 2rem;
  width: 80%;
  margin-left: 20px;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.ingredients-con {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 0;
  max-height: 300px;
  overflow-y: auto;
  border: 2px solid #0f0d0d;
  padding: 10px;
  width: 80%;
  padding: 0 2rem;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ingredients-con::-webkit-scrollbar {
  width: 10px;
}

.ingredients-con::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

.ingredients-con span {
  font-size: 1.5rem;
  margin-bottom: .6rem;
}

.ready-con {
  background-color: bisque;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  box-shadow: 0px 4px 8px black;
  margin-top: 20px;
  margin-left: 20px;
}

.ready-con button {
  background-color: rgb(212, 189, 15);
  border-radius: 10px;
  color: white;
  padding: .5rem;
  box-shadow: 0px 4px 8px black;
  margin-left: 4px;
  transform: translateY(-4px);
  transition: all .4s ease-in-out;
  width: 10rem;
  height: 4rem;
  margin-top: .9rem;
}

.ready-con button:active {
  transform: translateY(0);
  transition: all .4s ease-in-out;
}